#category_name{
    width: fit-content;
    margin: 0 auto;
    font-size: 40px;
    color: var(--high);
}

#anav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding-top: 10px;
    background-color: var(--nav_back);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.281);
    height: 65px;
    z-index: 1;
}

nav{
    top: 10px;
}

#holder{
    z-index: 0;
    padding: 10px;
    width: 100%;
    padding-top: 75px;
    max-height: 100vh;
    overflow-y: scroll;
}

.cont{
    width: 25%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.categories{
    position: relative;
    background-color: white;
    /* background-image: url(../img/homeapplicants.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc(100% - 20px);
    height: 200px;
}

.title{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: var(--cback);
    color: var(--high);
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

@media ( max-width: 600px) and (min-width: 0px) {
    .cont{
        width: 50%;
    }
    #category_name{
        font-size: 30px;
    }
    #anav{
        padding-top: 15px;
    }
}
