@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root{
    --background_img: url(../img/background.jpg);
    --mode_img: url(../img/darkmode.jpg);
    --high: black;
    --low: white;
    --place_holder: grey;
    --shadow: rgba(0, 0, 0, 0.5);
    --search: white;
    color: rgb(39, 39, 39);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", "Helvetica Neue", sans-serif;
}

input{
    all: unset;
}

#body{
    display: grid;
    place-content: center;
    justify-content: center;
    height: 100vh;
    background-image: var(--background_img);
}

#logo{
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    font-size: 35px;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    color: var(--high);
}

#search{
    background-color: var(--search);
    width: 50vw;
    height: 40px;
    display: block;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    margin-top: 12px;
    text-align: center;
    color: var(--high);
}

#search::placeholder{
    color: var(--place_holder);
}

#search_icon{
    width: 30px;
    height: 30px;
    border-radius: 35px;
    position: relative;
    top: -35px;
    left: 5px;
    cursor: pointer;
}

#social_media{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#social_media img{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 65px;
    cursor: pointer;
}

#social_media img:hover{
    width: 59px;
    height: 59px;
}

#mode{
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 45px;
    box-shadow: 0px 3px 8px 0px var(--shadow);
    cursor: pointer;
    background-image: var(--mode_img);
    background-size: 105%;
    width: 45px;
    height: 45px;
    background-color: white;
}

#mode:hover{
    width: 44px;
    height: 44px;
    left: 20.5px;
    bottom: 20.5px;
    box-shadow: unset;
}

@media (max-width: 600px){
    #logo{
        font-size: 25px;
    }
    #search{
        width: 60vw;
        height: 40px;
        font-size: 12px;
    }
    #social_media{
        position: static;
    }
}